// fonts.com
// ITC American Typewriter W01 Light  200 Extra-light normal
// ITC American Typewriter W01 Medium 500 Medium  normal
// ITC American Typewriter W01 Medium Italic  500 Medium  italic

$typewriter: 'ITC American Typewriter W01';
$light: 200;
$regular: 500;



body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: $typewriter;
    font-weight: $regular;
    letter-spacing: .05em;
    color: $color-text-highlight;
}