// FONTS
$inuit-base-font-size: 16px !default;
$inuit-base-line-height: 24px !default;





// COLORS
$inuit-base-text-color: #25371f !default;
$inuit-base-background-color: #fffae5 !default;





// SPACING
$single-space: $inuit-base-line-height;
$double-space: $inuit-base-line-height * 2;