// FONTS
$inuit-base-font-size: 16px !default;
$inuit-base-line-height: 24px !default;





// COLORS - literals
$green-light: #8ad672;
$green-dark: #258774;
$orange-light: #f49537;
$orange-dark: #be7333;

// COLORS - abstracted
$inuit-base-text-color: #333;
$inuit-base-background-color: #fff;





// SPACING
$single-space: $inuit-base-line-height;
$double-space: $inuit-base-line-height * 2;